@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Festive&family=Indie+Flower&family=Nanum+Gothic&family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Rampart+One&display=swap");
/* font-family: 'Festive', cursive; */
/* font-family: 'Qahiri', sans-serif; */
/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Architects Daughter', cursive; */
/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Rampart One', cursive; */
/* font-family: 'Jost', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: red;
    /* color: white; */
    scroll-behavior: smooth;
}
.container {
    background-color: yellow;
    width: 80%;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin: 3rem auto;
    border-radius: 10px 0 10px 10px;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-items {
    align-items: center;
}
li {
    list-style: none;
}
header {
    padding: 0.8rem 0;
    border-bottom: 2px solid black;
}
.navbar {
    max-width: 75%;
    margin: auto;
}
.navbar .logo {
    font-family: "Amatic SC", cursive;
    font-size: 1.8rem;
}
.navLinks ul li {
    margin: 0 2rem;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}
.userUse i {
    margin-right: 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.userUse i:last-child {
    margin-right: 0;
}

/* change COLOR BTn */

.changeColorBtn {
    max-width: 92%;
    margin: 0.5rem auto 0;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: -45px;
    background: yellow;
    top: -10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 0 10px 10px 0;
}
.changeColorBtn div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 10px;
}
.changeColorBtn div:last-child {
    margin-bottom: 0;
}
.pink {
    background-color: pink;
}
.orange {
    background-color: rgb(255, 153, 0);
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

/* change COLOR BTn */

/*  =========================== heroSection =========================== */

.heroSection {
    position: relative;
    height: 88vh;
    max-width: 75%;
    margin: auto;
}
.heroSection .img {
    position: absolute;
    width: 650px;
    height: 650px;
    right: -1rem;
    top: 6rem;
}
.heroSection .detail {
    padding-top: 12rem;
}
.heroSection .detail .title {
    font-size: 4rem;
    width: 600px;
    font-family: "Jost", sans-serif;
    line-height: 1.3;
    color: black;
    margin-bottom: 1.2rem;
    /* text-transform: capitalize; */
}
.heroSection .detail .desc {
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 550px;
    margin-bottom: 1.5rem;
}
.heroSection .detail .heroBtn {
    width: 180px;
    padding: 0.6rem 0;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 5px;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}
.heroSection .detail .heroBtn:hover,
.heroSection .detail .heroBtn:active {
    box-shadow: none;
}
/*  =========================== heroSection =========================== */

/*  =========================== About Headphone Section =========================== */
.aboutHeadphone {
    position: relative;
    max-width: 75%;
    /* margin: auto; */
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    margin: 2rem auto;
    overflow-y: hidden;
    box-shadow: 6px 6px 1px rgb(0 0 0 / 80%);
    cursor: pointer;
}
.aboutHeadphone:hover {
    box-shadow: none;
}
.aboutHeadphone .image {
    width: 310px;
    margin-top: -12rem;
    height: 450px;
    margin-left: 3rem;
}
.aboutHeadphone .aboutDetail h4 {
    font-size: 1.8rem;
    font-family: "Architects Daughter", cursive;
    position: relative;
    display: inline-block;
}
.aboutHeadphone .aboutDetail h3 {
    font-family: "Jost", sans-serif;
    font-size: 2.3rem;
    width: 650px;
    margin: 0.6rem 0 1rem;
}
.aboutHeadphone .aboutDetail p {
    width: 600px;
    font-family: "Architects Daughter", cursive;
    letter-spacing: 1px;
}

/*  =========================== About Headphone Section =========================== */

/*  =========================== car Section =========================== */
.brandSection,
.footerSection,
.cardSection {
    position: relative;
    max-width: 75%;
    padding: 2rem;
    margin: 6rem auto;
}
.cardSection .cards {
    margin-top: 5rem;
}
.cardSection .cards .card {
    width: 200px;
    border: 2px solid;
    cursor: pointer;
    transform: skew(6deg, 2deg);
    position: relative;
    z-index: 2;
    box-shadow: 6px 6px 1px rgba(68, 68, 68, 0.4);
    border-radius: 10px;
}
.cardSection .cards .card:hover {
    box-shadow: none;
}
.brandSection .cardHeader,
.cardSection .cardHeader {
    text-align: center;
    font-family: "Architects Daughter", cursive;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.cardSection .card .cardImg {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: -3rem;
}
.cardSection .card .cardBody {
    padding: 0.5rem 1rem;
}
.cardSection .card .cardBody .cardTitle {
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
}
.cardSection .card .cardBody .cardTitle span {
    font-size: 0.7rem;
    margin-left: 0.3rem;
}
.cardSection .card .cardBody .cardPrice {
    font-family: "Jost", sans-serif;
    font-size: 1.3rem;
    font-family: "Architects Daughter", cursive;
}
.cardSection .card .cardBody .cardRating {
    font-family: "Architects Daughter", cursive;
    font-size: 1.3rem;
    color: #1c1c1c;
}

/*  =========================== card Section =========================== */

/*  =========================== data  Section =========================== */

/* .dataSection {
    position: relative;
    max-width: 75%;
    padding: 2rem;
    margin: 6rem auto;
}
.dataSection .card {
    padding: 1rem;
    border: 2px solid black;
    transform: skew(184deg, 19deg);
}
.dataSection .card .number {
    font-size: 3.5rem;
    font-family: "Jost", sans-serif;
    text-align: center;
}
.dataSection .card p {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Architects Daughter", cursive;
} */

/*  =========================== data Section =========================== */

/*  =========================== Brand Section =========================== */

.brandSection .card .brandImg {
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.brandSection .card .brandImg img {
    object-fit: contain;
}
.brandSection .card .brandImg:hover {
    transform: scale(1.5);
}

/*  ========================= foooter =========================  */

.footerSection {
    margin-top: 2rem;
    margin-bottom: 0;
}
footer {
    border-top: 2px solid black;
    padding-bottom: 1rem;
}
footer .footerSection .footerLogo {
    font-family: "Amatic SC", cursive;
    font-size: 3rem;
    font-weight: 600;
}
.footerSection .supports h4,
.footerSection .products h4 {
    margin-bottom: 0.6rem;
    font-family: "Jost", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.footerSection .supports p,
.footerSection .products p {
    padding: 0.2rem 0;
    font-family: "Architects Daughter", cursive;
    letter-spacing: 1px;
    cursor: pointer;
}
.footerSection p:hover {
    text-decoration: underline;
}
.footerSection .subscribe {
    width: 300px;
}
.footerSection .subscribe .inputField {
    width: 100%;
    position: relative;
}
.footerSection .subscribe .inputField input {
    width: 100%;
    padding: 0.6rem 1rem;
    outline: none;
    border: 2px solid black;
    font-family: "Architects Daughter", cursive;
    font-size: 0.8rem;
    background-color: transparent;
}
.footerSection .subscribe .inputField .subBtn {
    position: absolute;
    right: 8px;
    top: 6px;
    padding: 0.35rem 0.6rem;
    font-family: "Architects Daughter", cursive;
    cursor: pointer;
    background: #ff0000;
    border: none;
    color: white;
    box-shadow: 3px 3px 2px rgb(255 0 0 / 52%);
}
/* .footerSection .subscribe .inputField .subBtn:hover, */
.footerSection .subscribe .inputField .subBtn:active {
    box-shadow: none;
}
.footerSection .subscribe .inputField .subBtn i {
    margin-right: 0.3rem;
}
.footerSection .subscribe .socialIcon {
    margin-top: 2rem;
    justify-content: space-around;
    max-width: 180px;
}
.footerSection .subscribe .socialIcon i {
    font-size: 1.5rem;
    cursor: pointer;
    width: 2.8rem;
    text-align: center;
    padding: 0.5rem 0;
}
#facebook {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 102, 255);
}
#facebook:hover {
    transform: skew(19deg, 4deg);
}
#twitter {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 191, 255);
}
#twitter:hover {
    transform: skew(19deg, 4deg);
}
#insta {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 77, 0);
}
#insta:hover {
    transform: skew(19deg, 4deg);
}

/*  ========================= foooter =========================  */
/*  =========================== Brand Section =========================== */
